#columns {
    column-width: 600px;
    column-gap: 15px;
    width: 50%;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    font-size: 36px;
    text-align: center;
}

div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    column-break-inside: avoid;
    display: inline-block;
    text-align: center;
}

div#columns figure img {
    width: 90%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns:hover figure:not(:hover) {
    opacity: 0.4;
}

@media screen and (max-width: 600px) {
    #columns {
        column-gap: 0;
    }

    #columns figure {
        /*width: 50%;*/
    }
}

.screen {
    /*background-color: #3288e6;*/
    font-size: 36px;
    text-align: center;
}


.side-bar {
    width: 66px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    font-size: 0;
    line-height: 0;
    z-index: 100;
}

.side-bar a {
    width: 66px;
    height: 66px;
    display: inline-block;
    margin-bottom: 2px;
}

.side-bar a:hover {
    background-color: #fcfcfc;
}

.side-bar .icon-upload {
    background-position: 0 -62px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.chirp-comment-textarea {
    height: 20%;
}

.chirp-social-oauth {
    margin: 3px;
    width: 32px;
}

.chirp-username {
    float: right;
    margin-right: 10px;
    font-weight: 600;
}